@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
#__next {
  isolation: isolate;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

i {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  margin: 25%;
  transition: 0.3s;
}

main {
  display: flex;
  flex: 0 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.attribution a {
  color: hsl(0, 0%, 100%);
}

.col-image {
  width: 55%;
}

.col-image img {
  width: 100%;
  height: auto;
}

.col-content {
  width: 45%;
  padding: 35px 0 0 60px;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/bg-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4% 5% 5px;
  position: relative;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(257, 40%, 49%);
  z-index: -1;
}

.description {
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 30px;
}

.heading {
  font-size: 40px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
}

.register {
  border: none;
  padding: 20px 0;
  width: 200px;
  font-family: "Popins", sans-serif;
  color: hsl(257, 40%, 49%);
  border-radius: 35px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.register:hover {
  background-color: hsl(300, 69%, 71%);
  color: aliceblue;
}

.register:active {
  position: relative;
  top: 2px;
}

.social-media {
  margin-top: auto;
  display: flex;
  gap: 20px;
  justify-content: right;
  position: relative;
  top: 40px;
}

.social-media a {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 35px;
  text-align: center;
  transition: 0.3s;
}

.social-media a:hover {
  border-color: hsl(300, 69%, 71%);
}

.social-media a:hover i {
  color: hsl(300, 69%, 71%);
}

@media (max-width: 576px) {
  html,
  body {
    height: 150vh;
  }

  footer {
    margin-top: auto;
  }

  i {
    font-size: 16px;
  }

  main {
    flex-direction: column;
  }

  nav img {
    width: 50%;
  }

  .container {
    height: 100%;
    padding: 35px 35px 5px;
    background-image: url("../images/bg-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: start;
  }

  .col-image {
    width: 100%;
    height: auto;
    margin-top: 65px;
  }

  .col-content {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .description {
    font-size: 16px;
  }

  .heading {
    font-size: 24px;
    margin-top: 65px;
  }

  .register {
    padding: 13px 0;
    font-size: 14px;
  }

  .social-media {
    margin-top: 75px;
    position: initial;
  }

  .social-media a {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 1450px) {
  .container {
    padding: 4% 13% 5px;
  }

  .col-content {
    padding: 35px 55px 0 60px;
  }
}
